<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New message form</title>
</head>
<body>
    <form action="/newMessage" method="post">
        <div>
            <label for="username">Username</label>
            <input type="text" name="username" id="username">
        </div>
        <div>
            <label for="message">Message</label>
            <textarea type="text" name="message" id="message"></textarea>
        </div>
        <button type="submit">Send</button>
    </form>
</body>
</html>